body{
    background-image: url(http://1.bp.blogspot.com/-DKZDpRKxg5o/TmTDPVr0y4I/AAAAAAAAAhY/duQsdLBDFyE/s1600/Website-Wallpapers-.jpg);
    color: whitesmoke;
}

div{
    border-style: none;
}

img{
    size: 500px;
}

.container{
    padding: 30px;
    border-style: none;
}
.dropdown-menu{
    color: slateblue;
}
.dropdown-toggle{
    background-color: royalblue;
}

.list-group-item{
    border-color: darkslateblue;
    background-color: lightblue; 
    margin-top: 35px;
    margin-bottom: 35px;
}

a{
    text-decoration: none;
    color: lightsteelblue;
}

.row{
    border-color: cornflowerblue;
}

