body{
    /*background-image:*/
}

div{
    border-style: groove;
}

.container{
    border-color: aqua;
    padding: 30px;
}

.list-group-item{
    border: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}

.row{
    border-color: cornflowerblue;
}

